header{
    background-color: #000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 40px;
}

.title{
    padding-top: 15px;
    padding-right: 64px;
    font-size: 25px;
    font-weight: bold;
}

.material-icons{
    float: left;
}

body{
    min-width: 450px;
    text-align: center;
}

.form{
    display: inline-block;
}

.form-row{
    display: inline-flex;
}

.form-control{
    width: 300px;
}

.button{
    float: left;
    margin-top: 7px;
    padding-left: 5px;
}

.btn-primary{
    background-color: #000;
    border-color: #000;
}

.btn{
    float: right;
    margin-top: -7px;
    margin-right: -14px;
}

.alert{
    text-align: justify;
    width: 450px;
}